* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

header {
	width: 100%;
	padding: 20px;
	margin: 0 auto;
	text-align: center;
}

.nav-list {
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}

.nav-list-item {
	list-style: none;
	display: inline-block;
    margin: 0 20px;
}